@import '../../styles/Variables.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Typography.module.scss';


.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include page-top;
}

.inner {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq('tablet') {

  }
}



.introContent {
  text-align: center;
  max-width: 840px;
  @include mar-bot-standard;

}
.title {
  margin: 0;

}

.introTitle {} 
.description {}
.introDescription {}

.list {

}


.aboutUs {
  //display: flex;
  justify-content: space-between;
  //flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  @include mq('tablet') {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
   // flex-direction: row;
    margin-top: 0;
    margin-bottom: -150px;
    position: relative;
    z-index: 2;
  }
} 

.aboutUsBox {
  @include white-box;
  display: flex;
  flex-direction: column;
  padding: 30px;

  @include mq('tablet') {
    padding: 40px;
    margin: 0;
  }
}

.aboutUsTech {

}
.aboutUsFinance {

}

.aboutUsHeader {
  display: flex;
  align-items: center;
  @include mar-bot-small;
}
.aboutUsIcon {
  height: 48px;
  width: 48px;
  margin-right: 15px;
  @include mq('tablet') {
    height: 62px;
    width: 62px;
  }
}
.aboutUsTechIcon {}
.aboutUsFinanceIcon {}

.aboutUsTitle {
  margin: 0;
  @include font-size($title-small);
  color: $black;
}
.aboutUsTitleTech {  
  display: block;
  color: $blue;
}
.aboutUsTitleFinance {
  display: block;
  color: $green;
}

.aboutUsText {
  margin: 0;
  @include font-size($text-small);
}




.teamContainer {
  background: $greenLight;
  @include pad-top-large;
  @include pad-bot-large;
  @include mq('tablet') {
    padding-top: 270px;
  }
}

.teamInner {

}

.teamTitle {
  margin: 0;
  @include mar-bot-standard;
  @include pad-bot-small;
  @include font-size($title-large);
}
.teamMembers {
  display: grid;
  grid-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: 1fr;
  @include mq('tablet') {
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
  @include mq('desktop') {
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.teamMember {
  text-align: center;
  img {
    width: 245px;
    height: 245px;
  }
}


.teamMemberName {
  margin-top: 20px;
  margin-bottom: 5px;

  @include font-size($text-large);
}


.teamMemberTech {
  color: $blue;
}
.teamMemberFinance {
  color: $green;
}
.teamMemberRole {
  @include font-size($text-xsmall);
  color: $black;
}



.valuesContainer {
  @include pad-top-large;
  @include pad-bot-large;
}

.valuesContent {
  text-align: center;
  max-width: 840px;
  @include mar-bot-standard;
}
.valuesTitle {}
.valuesDescription {}