@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";

.button {
  background-color: $grayLight;
  min-width: 110px;
  max-width: max-content;
  height: 30px;
  padding: 0.5em;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5em;
  color: $black;
}

.logo {
  margin-right: 0.5em;
}
