@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";
@import "../../styles/Typography.module.scss";
@import "../../styles/Buttons.module.scss";

.container {
  background: $black;
  background-image: linear-gradient(270deg, #2a4270 21%, #16243e 62%);
  color: $white;
  @include pad-top-standard;
}

.ctaInner {
  @include pad-bot-standard;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq("tablet") {
    flex-direction: row;
  }
}

.ctaContent {
  width: 100%;
  margin-bottom: 10px;
  @include mq("tablet") {
    width: 450px;
    margin-bottom: 0;
  }
}

.ctaTitle {
  @include font-size($title-large);
  color: $white;
  margin-top: 0;
  margin-bottom: 5px;
  @include mq("tablet") {
    margin-bottom: 10px;
  }
}

.ctaTitleEmphasis {
  padding-bottom: 4px;
}

.ctaText {
  color: $white;
  margin: 0;
}
.ctaActions {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  @include mq("tablet") {
    flex-direction: row;
  }
}

.ctaButton {
  @include no-underline;
  margin-top: 5px;
  @include mq("tablet") {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
