@import "./Variables.module.scss";
@import "./Mixins.module.scss";
@import "./Typography.module.scss";

.btn-default {
  color: #fff;
}
.btn-primary,
.btn,
.btn-lg,
.btn-md,
.btn-sm,
.btn-xs {
  color: $blue;
}
.btn-warning {
  color: #feab3a;
}
.btn-danger {
  color: #ff5964;
}
.btn-success {
  color: #28b78d;
}
.btn-royal {
  color: #bd2df5;
}
.btn,
.btn-lg,
.btn-md,
.btn-sm,
.btn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}
.btn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-weight: normal;
  font-family: inherit;
}
.btn-md {
  font-size: 21px;
  font-family: inherit;
  padding: 18px 12px 5px;
}
.btn-sm {
  padding: 3px 10px;
  font-size: 18px;
  font-family: inherit;
}
.btn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}

/* Buttons */
.btn-simple,
.btn-gradient {
  margin: 0;
  padding: 0;
  border-width: 2px;
  border-color: transparent;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  overflow: hidden;
  border-radius: $borderRadius;
  background: rgba(255, 255, 255, 0.4);
  color: $white;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  text-decoration: none;

  @media only screen and (max-width: $mobile) {
    width: 100%;
    padding: 0;
  }
}
.btn-simple:hover,
.btn-gradient:hover,
.btn-simple:focus,
.btn-gradient:focus {
  opacity: 0.65;
  color: $white;
  text-decoration: none !important;
}
.btn-simple.btn-xs,
.btn-gradient.btn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.btn-simple.btn-sm,
.btn-gradient.btn-sm {
  padding: 10px 20px;
  font-size: 18px;
  font-family: inherit;
}
.btn-simple.btn-md,
.btn-gradient.btn-md {
  font-size: 21px;
  padding: 17px 30px 21px;
  font-family: inherit;
}
.btn-simple.btn-lg,
.btn-gradient.btn-lg {
  padding: 19px 39px 21px;
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
}
.btn-simple.btn-default,
.btn-gradient.btn-default {
  background: rgba(255, 255, 255, 0.4);
}
.btn-simple.btn-primary,
.btn-gradient.btn-primary {
  background: $blue;
  border: 2px solid $blue;
}
.btn-simple.btn-warning,
.btn-gradient.btn-warning {
  background: #feab3a;
}
.btn-simple.btn-danger,
.btn-gradient.btn-danger {
  background: #ff5964;
}
.btn-simple.btn-success,
.btn-gradient.btn-success {
  background: #28b78d;
}
.btn-simple.btn-royal,
.btn-gradient.btn-royal {
  background: #bd2df5;
}

.btn-simple.btn-white,
.btn-gradient.btn-white {
  background: $white;
  color: $grayDark;
}

.btn-bordered {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  font-size: 19px;
  font-family: inherit;
  overflow: hidden;
  border: 2px solid;
  border-radius: $borderRadius;
  background: transparent;
  color: $blue;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn-bordered:hover,
.btn-bordered:focus {
  border-color: rgba(255, 255, 255, 0.7);
  text-decoration: none !important;
}
.btn-bordered.btn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.btn-bordered.btn-sm {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
}
.btn-bordered.btn-md {
  font-size: 21px;
  font-family: inherit;
}
.btn-bordered.btn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.btn-bordered.btn-default {
  border-color: rgba(255, 255, 255, 0.4);
  color: #fff;
}
.btn-bordered.btn-default:hover,
.btn-bordered.btn-default:focus {
  border-color: rgba(255, 255, 255, 0.7);
  text-decoration: none !important;
}
.btn-bordered.btn-primary {
  border-color: $blue;
  color: $blue;
}
.btn-bordered.btn-secondary {
  border-color: $gray;
  color: $gray;
  background: none;
}
.btn-bordered:hover,
.btn-bordered:focus {
  border-color: $linkHover;
  color: $linkHover;
  background: none;
  text-decoration: none !important;
}
.btn-bordered.btn-warning {
  border-color: rgba(254, 171, 58, 0.4);
  color: #feab3a;
}
.btn-bordered.btn-warning:hover,
.btn-bordered.btn-warning:focus {
  border-color: rgba(254, 171, 58, 0.7);
}
.btn-bordered.btn-danger {
  border-color: rgba(255, 89, 100, 0.4);
  color: #ff5964;
}
.btn-bordered.btn-danger:hover,
.btn-bordered.btn-danger:focus {
  border-color: rgba(255, 89, 100, 0.7);
}
.btn-bordered.btn-success {
  border-color: rgba(40, 183, 141, 0.4);
  color: #28b78d;
}
.btn-bordered.btn-success:hover,
.btn-bordered.btn-success:focus {
  border-color: rgba(40, 183, 141, 0.7);
}
.btn-bordered.btn-royal {
  border-color: rgba(189, 45, 245, 0.4);
  color: #bd2df5;
}
.btn-bordered.btn-royal:hover,
.btn-bordered.btn-royal:focus {
  border-color: rgba(189, 45, 245, 0.7);
}

.btn-minimal {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 19px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border-width: 0;
  border-radius: $borderRadius;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn-minimal:after {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: currentColor;
  content: "";
  opacity: 0.65;
  -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn-minimal:before {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: currentColor;
  content: "";
  opacity: 0.65;
  -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1),
    -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn-minimal:hover,
.btn-minimal:focus {
  opacity: 0.9;
}
.btn-minimal:hover:after,
.btn-minimal:focus:after {
  opacity: 1;
  -webkit-transform: translateX(-10px) rotate(0.001deg);
  transform: translateX(-10px) rotate(0.001deg);
}
.btn-minimal:hover:before,
.btn-minimal:focus:before {
  opacity: 1;
  -webkit-transform: translateX(10px) rotate(0.001deg);
  transform: translateX(10px) rotate(0.001deg);
}
.btn-minimal.btn-xs {
  font-size: 12px;
  font-family: inherit;
}
.btn-minimal.btn-sm {
  font-size: 18px;
  font-family: inherit;
}
.btn-minimal.btn-md {
  font-size: 19px;
  font-family: inherit;
}
.btn-minimal.btn-lg {
  font-size: 24px;
  font-family: inherit;
}
.btn-minimal.btn-default {
  color: #fff;
}
.btn-minimal.btn-primary {
  color: #1d89ff;
}
.btn-minimal.btn-warning {
  color: #feab3a;
}
.btn-minimal.btn-danger {
  color: #ff5964;
}
.btn-minimal.btn-success {
  color: #28b78d;
}
.btn-minimal.btn-royal {
  color: #bd2df5;
}

/* Helpers */

.btn-block {
  display: block;
  width: 100%;
}
.btn-no-outline {
  outline: none;
}
.btn-no-outline:hover,
.btn-no-outline:focus,
.btn-no-outline:active {
  outline: none !important;
}

.btn-no-outline:focus {
  outline: none;
}

.btn-secondary {
  color: $grayDark;
  background: $grayLightest;
}

.btn-simple.btn-green {
  color: $black;
  background: #00ca71;
  border: 2px solid #00ca71;
}
.btn-bordered.btn-bordered-white {
  color: $white;
  border: 2px solid $white;
}

.btn-bordered.btn-bordered-blue {
  color: $blue;
  border: 2px solid $blue;
}

.btn-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-orange {
  background: $orange;
  border: 2px solid $orange;
  color: $white;
  display: inline-block;
  margin-top: 20px;
}

.btn-yellow {
  background: $yellow;
  border: 2px solid $yellow;
  color: $black;
}

.btn-white-green {
  background: $white;
  border: 2px solid $white;
  color: $green;
}

.btnBanner {
  background: $blue;
  border: 2px solid $blue;
  color: $white;
}

.btn-mobile {
  width: auto;
}

.btn-header {
  width: 100%;
  background: #1f3357;
  height: 46px;
  box-sizing: border-box;
  padding-top: 15px;
  @include mq("tablet") {
    width: auto;
    height: auto;
  }
}

.btn-earthy-share {
  padding: 5px 0 !important;
  font-size: 13px !important;
  @include no-underline;
}
