@import './Variables.module.scss';
@import './Mixins.module.scss';

.banner {
  background-image: linear-gradient(270deg, #2A4270 21%, #16243E 62%);
  color: $white;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include page-top;
}


.inner {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq('tablet') {
  }
}

.bannerContent {}


.bannerTitle {
  color: $orange;
}

.bannerDesc {}
.bannerActions {}
.bannerCtaPrimary {}
.bannerCtaSecondary {}
.bannerImg {}