@import "./Variables.module.scss";
@import "./Mixins.module.scss";
@import "./Typography.module.scss";

/* Header Banner */

.banner {
  background-image: linear-gradient(270deg, #2a4270 21%, #16243e 62%);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @include mq("tablet") {
    flex-direction: row;
  }
}

.bannerContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include pad-top-standard;
  @include pad-bot-standard;
  @include mar-bot-small;
  @include mq("tablet") {
    max-width: 740px;
  }
}

.bannerTitle {
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-family: $serif;
  color: $orangeOnDark;
  text-align: center;
  @include mq("tablet") {
    text-align: left;
  }
}
.bannerDesc {
  color: $white;
  @include font-size($text-large);
  margin-bottom: 0;
  text-align: center;
  @include mq("tablet") {
    text-align: left;
  }
}

.bannerActions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @include mq("tablet") {
    margin-top: 40px;
    flex-direction: row;
  }
}

.bannerCtaPrimary {
  @include no-underline;
  width: 100%;
  @include mq("tablet") {
    width: auto;
  }
}

.bannerCtaSecondary {
  @include links-on-dark;
  font-size: 21px;
  padding-top: 10px;
  margin-top: 30px;
  text-align: center;
  a {
    font-weight: normal;
  }
  @include mq("tablet") {
    padding-top: 18px;
    margin-top: 0;
    margin-left: 50px;
    flex-direction: row;
    text-align: left;
  }
}

.bannerImg {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 10px auto 40px;

  @include mq("tablet") {
    margin: 0;
  }
}

.bannerImgShadow {
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 62px rgba($black, 0.8));
  filter: drop-shadow(0px 0px 62px rgba($black, 0.8));
}

/* Link to tldr */

.cba {
}

.cbaInner {
  display: block;
  @include text-body;
  @include pad-top-small;
  @include links-on-light;
  text-align: center;
  @include mq("tablet") {
    @include pad-top-small;
    text-align: left;
  }
}

.cbaText {
  width: 100%;
  text-align: center;
}

.cbaAction {
  margin-left: 5px;
}

/* How it happens */

.how {
}

.howInner {
  @include pad-top-large;
  @include pad-bot-large;

  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: $sub;
  margin: 0 auto;
  @include mq("tablet") {
  }
}

.howContent {
  width: 100%;
  @include mq("tablet") {
    //width: 50%;
  }
}

.howTitle {
  margin-top: 0;
  text-align: center;
  @include font-size($title-xlarge);
}
.howList {
}

.choiceList {
  @include text-small;
  list-style: none;
  counter-reset: li;
  margin: 0;
  padding: 0 0 0 40px;
  :before {
    content: counter(li);
    color: $blue;
    background: $blueLight;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    margin-left: -2.8em;
    margin-right: 1em;
    text-align: center;
    direction: rtl;
  }
  li {
    counter-increment: li;
    padding: 0 5px 30px;
    margin: 0;
    &:last-child {
      padding-bottom: 0;
    }
  }
  @include mq("tablet") {
    padding-left: 43px;
  }
}

.nowList {
  @include text-small;
  list-style: none;
  counter-reset: li;
  margin: 0;
  padding: 0 0 0 40px;
  :before {
    content: counter(li);
    color: $blue;
    background: $blueLight;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    margin-left: -2.8em;
    margin-right: 1em;
    text-align: center;
    direction: rtl;
  }
  li {
    counter-increment: li;
    padding: 0 5px 30px;
    margin: 0;
    &:last-child {
      padding-bottom: 0;
    }
  }
  @include mq("tablet") {
    padding-left: 43px;
  }
}

.bold {
  font-weight: bold;
}

/* What stops us */

.stops {
  background: $orange;
  background-image: linear-gradient(90deg, #dc8c01 0%, #b67300 100%);
}

.stopsInner {
  justify-content: space-between;
  flex-direction: column;
  @include mq("tablet") {
    flex-direction: row;
  }
}

.stopsContent {
  width: 100%;
  @include pad-top-standard;
  @include pad-bot-standard;
  @include mq("tablet") {
    width: 50%;
  }
}

.stopsListContainer {
  @include mq("tablet") {
    @include pad-left-standard;
  }
}

.stopsList {
  color: $white;
  margin: 0;
  :before {
    content: counter(li);
    color: $white;
    background: rgba($white, 0.16);
  }
}

.stopsTitle {
  color: $white;
  margin: 0;
  max-width: 300px;
  @include pad-top-standard;
  @include pad-left-standard;
  @include pad-right-standard;
  @include font-size($title-large);
  text-shadow: 0 2px 17px rgba(0, 0, 0, 0.6);
}

.stopsImg {
  width: 100%;
  height: 240px;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  display: block;
  @include mar-top-standard;
  @include mq("tablet") {
    margin: 0;
    width: 50%;
    height: auto;
  }
}

/* What youc an do now */

.actions {
}

.actionsInner {
  @include pad-top-large;
  @include pad-bot-large;
  justify-content: space-between;
  flex-direction: column;
}

.actionsContent {
  width: 100%;
  @include mq("tablet") {
  }
}

.actionsTitle {
  margin-top: 0;
  text-align: center;
  @include mq("tablet") {
    padding-bottom: 15px;
  }
}

.action {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: $sub;
  margin: 0 auto;
  @include pad-bot-standard;
  &:last-child {
    padding-bottom: 0;
  }
  @include mq("tablet") {
  }
}
.actionAnother {
  border-top: 1px solid $grayBorder;
  @include pad-top-standard;
}

.actionContent {
  width: 100%;
  margin: 0 auto;
  li {
    @include font-size($text-small);
    margin-bottom: 15px;
  }
  @include mq("tablet") {
  }
}
.actionTitle {
  margin-top: 0;
}

.actionPointTitle {
  @include font-size($text-large);
  color: $black;
  margin: 20px 0 0;
  display: flex;
  align-items: center;
  img {
    padding-right: 7px;
  }
  @include mq("tablet") {
    margin: 30px 0 0;
  }
}

.actionHowTitle {
  @include font-size($text-large);
  color: $orange;
  margin: 20px 0 0;
  display: flex;
  align-items: center;
  img {
    padding-right: 7px;
  }
  @include mq("tablet") {
    margin: 30px 0 0;
  }
}

.paragraph {
  @include font-size($text-small);
  &:last-child {
    margin-bottom: 0;
  }
}

.actionAside {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $blueLight;
  margin-top: 20px;
  @include mq("tablet") {
    margin-top: 40px;
  }
}
.actionAsideTitle {
  @include title-uppercase-small;
}

.actionAsideContainer {
  padding: 20px 20px;
  @include mq("tablet") {
    padding: 25px 30px;
  }
}

.actionAsideList {
  width: auto;
  margin: 13px 0 0 0;
  @include links-on-light;
  list-style-type: none;
  padding: 0;
  li {
    @include font-size($text-small);
    padding-bottom: 14px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

/* tl;dr */

.tldr {
  background: $black;
  background-image: linear-gradient(270deg, #2a4270 21%, #16243e 62%);
}

.tldrInner {
  justify-content: space-between;
  flex-direction: column;
  @include mq("tablet") {
    flex-direction: row-reverse;
  }
}

.tldrContent {
  width: 100%;
  @include pad-top-standard;
  @include pad-bot-standard;
  @include mq("tablet") {
    width: 50%;
  }
}
.tldrListContainer {
  @include mq("tablet") {
    @include pad-right-standard;
  }
}

.tldrList {
  @include text-small;
  list-style-type: none;
  color: $white;
  margin: 0;
  padding: 0;
  li {
    background: url("../components/Images/Icons/TickGreenIcon.svg") no-repeat
      left;
    background-position-y: 6px;
    padding: 0 21px 10px;
    margin: 0;
    @include links-on-dark;
    &:last-child {
      padding-bottom: 0;
    }
  }
  @include mq("tablet") {
    padding-left: 0;
    margin-top: 25px;
    li {
      background-position-y: 9px;
    }
  }
}

.tldrTitle {
  color: $orangeOnDark;
  text-align: left;
  margin: 0;

  @include font-size($title-large);
  text-shadow: 0 2px 17px rgba(0, 0, 0, 0.6);
}

.tldrSubtitle {
  color: $white;
  font-weight: bold;
  max-width: 520px;
}

.tldrImg {
  width: 100%;
  height: 240px;
  margin-top: 25px;
  background: url("../components/Images/Photos/globe.jpg") no-repeat top center;
  background-size: cover;
  display: block;
  @include mq("tablet") {
    margin: 0;
    width: 50%;
    height: auto;
  }
}
