@import './Variables.module.scss';
@import './Mixins.module.scss';
@import './Typography.module.scss';



body {
  font-family: $sans;
}

.container {
  color: black;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 90%;
  margin: auto;
  max-width: $max;
  display: flex;
}

.tabletHide {
  display: flex;
  @include mq('tablet') {
    display: none;
  }
}

.desktopHide {
  display: none;
  @include mq('desktop') {
    display: flex;
  }
}

.mobileHide {
  display: none;
  @include mq('tablet') {
    display: flex;
  }
}



/* Subpage centered styles */


.subpageInner {
  @include pad-top-large;
  @include pad-bot-large;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: $sub;
  margin: 0 auto;
  @include mq('tablet') {

  }
}


.subpageContainer {
  margin: 0;
}

.subpageContent {
  width: 100%;
  @include mq('tablet') {
    //width: 50%;
  }
}

.subpageTitle {
  margin-top: 0;
  text-align: center;
  @include font-size($title-xlarge);
}

