@import './Variables.module.scss';
@import './Mixins.module.scss';
@import './Typography.module.scss';



body {
  font-family: $sans;
}

.container {
  color: black;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 90%;
  margin: auto;
  max-width: $max;
  display: flex;
}

.tabletHide {
  display: flex;
  @include mq('tablet') {
    display: none;
  }
}

.desktopHide {
  display: none;
  @include mq('desktop') {
    display: flex;
  }
}

.mobileHide {
  display: none;
  @include mq('tablet') {
    display: flex;
  }
}

