
/* Colors */
$black: #0D1626;
$white: #FFFFFF;
$orange: #DC8C01;
$blue: #396ABF;
$green: #00B364;
$pink: #F281AC;
$yellow: #EFAF4B;
$yellowLight: #FFE1B2;
$greenLight: #D7F3E7;
$blueLight: #E9EFFA;

$whiteFaded: rgba($white, 0.7);

$gray: #616771;
$grayDark: #62646F;
$grayLight: #EAEAED;
$grayLightest: #F2F4F5;
$grayBorder: #DDE0E5;

// Links
$link: $blue;
$linkHover: $orange;
$linkActive: darken($orange, 7.5%);

// Specific Usage

$textBody: $black;




/* Breakpoints */

 $mobile:  480px;
 $tablet:  768px;
 $desktop: 1040px;
 $max:     1340px;
 $sub:     760px;
 
 
 $breakpoints: (
   "mobile":  $mobile,
   "tablet":  $tablet,
   "desktop": $desktop,
   "max": $max,
 );
 
 
 $borderRadius: 4px;
 
