@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";
@import "../../styles/Typography.module.scss";

.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include page-top;
}

.inner {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq("tablet") {
  }
}

.introContent {
  text-align: center;
  max-width: 840px;
  @include mar-bot-standard;
}
.title {
  margin: 0;
}

.introTitle {
}
.description {
}
.introDescription {
}
