@import "../../styles/Variables.module.scss";
@import "../../styles/Typography.module.scss";
@import "../../styles/Mixins.module.scss";

.container {
  position: relative;
  background: $greenDark;
  background-image: linear-gradient(270deg, #00b364 0%, #008f50 100%);
  @include pad-top-standard;
  @include pad-bot-standard;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq("tablet") {
    flex-direction: row;
  }
}

.ctaCopy {
  width: 100%;
  margin-bottom: 20px;
  @include mq("tablet") {
    width: 38%;
    margin-bottom: 0;
  }
}

.title {
  @include font-size($title-xlarge);
  color: $white;
  font-family: $serif;
}

.copy {
  @include font-size($text-small);
  color: $white;
  margin-bottom: 0;
}

.socialBlock {
  display: block !important;
  border: 1px solid #008f50;
  background-color: $white;
  box-shadow: 0 1px 13px 0 rgba($black, 0.11);
  color: $black;
  width: 90%;
  padding: 1.25em 5%;
  margin: 0;
  @include mq("tablet") {
    padding: 2.3em 3%;
    width: 45%;
    margin-bottom: 0;
  }
}

.socialBlock .subTitle {
  @include font-size($title-small);
}

.socialBlock p {
  @include font-size($text-small);
  color: $grayDark;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  @include mq("tablet") {
    margin-bottom: 10px;
  }
}

.socialContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
  @include mq("desktop") {
  }
}

.socialButton {
  margin: 10px 10px 0 0;
}
