@import "../../styles/Variables.module.scss";
@import "../../styles/Typography.module.scss";
@import "../../styles/Mixins.module.scss";

.contain4er {
  position: relative;
  background-color: $green;
  height: min-content;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include mq("tablet") {
    padding: 2em;
    justify-content: center;
  }
  @include mq("desktop") {
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 400px;
    padding: 2em;
  }
}

.container {
  background: $green;
  @include pad-top-standard;
  @include pad-bot-standard;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq('tablet') {
    flex-direction: row;
  }
}

.ctaCopy {
  width: 100%;
  @include mq('tablet') {
    width: 40%;

  }
}

.title {
  @include font-size($title-large);
  color: $white;
  font-family: $serif;
}

.copy {
  text-align: justify;
  line-height: 1.5em;
  color: $white;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  color: $black;
  width: 90%;
  padding: 1em 5%;
  @include mq("tablet") {
    padding: 2em 3%;
    width: 45%;
    margin-bottom: 0;
  }
}

.socialBlock .subTitle {
  font-weight: 600;
  font-size: 24px;
  width: 100%;
}

.socialBlock p {
  width: 100%;
  color: $grayDark;
  line-height: 1.5em;
  margin: 0.7em;
}

.socialBlock .socialContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
  @include mq("desktop") {
  }
}

.socialButton {
  margin: 10px 10px 0 0;
}
