@import '../../styles/Variables.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Typography.module.scss';


.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include pad-top-standard;
  @include pad-bot-standard;
  @include mq('tablet') {
    flex-direction: row;
  }
}
.logo {
  margin: 0;
  line-height: 0;
  height: 21px;
}

.nav {
  @include no-border-link;
  margin-top: 12px;
  @include mq('tablet') {
    margin-top: 1px;
  }
}

.navList {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;

}

.navListItem {
  margin-left: 30px;
  @include links-on-light;
  @include font-size($text-small);
  a {
    text-decoration: none;
    color: $black;
    font-weight: normal;
  }
  &:first-child {
    margin-left: 0;
  }
}



.navListItemAction {
  a {
    color: $blue;
    font-weight: bold;
  }
}