@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";
@import "../../styles/Typography.module.scss";

.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $black;
  color: $white;
}

.navToggle {
  @include mq("tablet") {
    display: none;
  }
}

.inner {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 11px 0;
  flex-direction: row;
}
.logo {
  margin: 0;
  line-height: 0;
  height: 50px;
}

.navList {
  display: none;
  padding: 0;
  margin: 0;
  height: 40px;
  align-items: center;
  flex-direction: column;
  list-style-type: none;

  @include mq("tablet") {
    position: static;
    display: flex;
    flex-direction: row;
  }
}

.navListOpen {
  height: auto;
  width: 100%;
  background-color: #0d1626;
  position: absolute;
  display: flex;
  top: 72px;
  left: 0;
  padding: 5px 0;
}

.navItem {
  @include links-on-dark;
  @include font-size($text-small);

  a {
    font-weight: normal;
    text-decoration: none;
  }
  &:first-child {
    margin-left: 0;
  }
  @include mq("tablet") {
    margin-left: 35px;
  }
}

.navItemAction {
  a {
    color: $white;
    font-weight: bold;
    background: #1f3357;
    border-radius: 4px;
  }
}
