@import '../../styles/Variables.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Typography.module.scss';


.stopsImg {
  background: url('../../components/Images/Photos/stopsLifestyle.jpg') no-repeat top center;
  background-size: cover;
}

