@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";

.button {
  background-color: $grayLight;
  max-width: max-content;
  height: 30px;
  padding: 0.5em 1em;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $black;
}

.logo {
  margin-right: 0.5em;
}
