@import '../../styles/Variables.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Typography.module.scss';


.container {
  @include pad-top-large;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLight {
  background: $white;
}
.containerDark {
  background: $black;
}

.choiceGridContainer {
  margin-top: -200px;
  z-index: 999;
  position: relative;
  background: $white;
  @include mq('tablet') {
    margin-top: 0;
  }
}



.inner {
  @include pad-bot-large;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq('tablet') {

  }
}

.choiceGridInner {
  padding-bottom: 0;
}


.title {
  width: 100%;
  max-width: 600px;
  margin: 0;
  align-self: flex-start;
  font-weight: 700;
  font-family: $serif;
  @include font-size($title-large);
}

.titleWhite {
  color: $white;
}



.choiceGrid {
  @include mar-top-standard;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  padding: 0;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  &:last-child {
    margin-bottom: 0;
  }
  @include mq('tablet') {
    grid-gap: 30px;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
  }
  @include mq('desktop') {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
} 

.choiceGridItem {
  @include white-box;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  top: 0;
  &:hover {
    border: 1px solid $orangeOnDark;
    box-shadow: 0 1px 30px 0 rgba($orangeOnDark,0.2);
    top: -2px;
    position: relative;
  }
  &:active {
    border: 1px solid $orange;
    box-shadow: 0 1px 30px 0 rgba($orange,0.2);
    top: 1px;
    position: relative;
  }
}

.choiceGridSoon {
  @include white-box;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  top: 0;
  &:hover {
    @include white-box;
    top: 0;
  }
  &:active {
    @include white-box;
    top: 0;
  }
}

.choiceContainer {
  text-decoration: none;
  padding: 30px;
}

.choiceHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.choiceIcon {
  width: 66px;
  height: 66px;
  background: $orangeOnDark;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.choiceSoonIcon {
  background: $grayLight;
}


.choiceChevron {
  margin-top: 2px;
}

.choiceTitle {
  margin-top: 0;
  margin-bottom: 20px;
  color: $blue;
  br {
    content: " ";
    display: none;
}
  @include mq('tablet') {
    min-height: 80px;
    br {
      display: block;
    }
  } 
}

.choiceSoonTitle {
  font-weight: normal;
  color: $gray;
}

.choiceMeta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $gray;
}

.choiceReadTime {}

.choiceReadStatus {
  display: flex;
  align-items: center;
}

.choiceReadStatusRead {
  color: $green;
  font-weight: bold;
  img {
    margin-right: 4px;
  }
}

/* subscribe */


.subscribe {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  align-content: center;
  align-items: center;
  margin: 25px auto 0;
  width: auto;
  @include mq('tablet') {
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
  }
  @include mq('desktop') {
    margin-top: 110px;
  }
}   
.subscribeTitle {
  margin: 0 0 20px 0;
  text-align: center;
  @include font-size($text-large);
  @include mq('tablet') {
    margin: 0 30px 0 0;
  }
}

.ctaButton {
  @include no-underline;
    margin: 0;
}