@import '../../styles/Variables.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Typography.module.scss';


.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  @include pad-top-standard;
  @include pad-bot-standard;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq('tablet') {

  }
}


.title {
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-family: $serif;
}



.choiceGrid {
  @include mar-top-standard;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  padding: 0;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  @include mq('tablet') {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  @include mq('desktop') {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
} 

.choiceGridItem {
  @include white-box;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  top: 0;
  &:hover {
    box-shadow: 0 1px 40px 0 rgba(50,47,68,0.2);
    top: -2px;
    position: relative;
  }
  &:active {
    box-shadow: 0 1px 40px 0 rgba(50,47,68,0.2);
    top: 1px;
    position: relative;
  }
}

.choiceContainer {
  text-decoration: none;
  padding: 30px;
}

.choiceHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.choiceIcon {
  width: 66px;
  height: 66px;
  background: $orange;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.choiceChevron {
  margin-top: 2px;
}

.choiceTitle {
  margin-top: 0;
  margin-bottom: 20px;
  color: $blue;
  @include mq('tablet') {

    min-height: 80px;
  } 
}

.choiceMeta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $gray;
}

.choiceReadTime {}
.choiceReadStatus {}

