@import '../../styles/Variables.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Typography.module.scss';

.ctaActions {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  @include mar-bot-small;
  @include pad-bot-small;
  @include mq('tablet') {
    flex-direction: row;

  }
}   

.ctaButton {
  @include no-underline;
  margin-top: 5px;
    @include mq('tablet') {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

.airtable {
  @include mar-top-small;
  background: transparent; 
  border: 1px solid #ccc;
}

