@import '../../styles/Variables.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Typography.module.scss';
@import '../../styles/Buttons.module.scss';

.container {
  background: $black;
  color: $white;
  @include pad-top-standard;
}

.ctaInner {
  @include pad-bot-standard;
  display: flex;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  @include mq('tablet') {
  }
}

.ctaContent {
  width: 100%;
  margin-bottom: 10px;
  @include mq('tablet') {
    width: 400px;
    margin-bottom: 0;
  }
}

.ctaTitle {
  color: $white;
  margin-top: 0;
  margin-bottom: 5px;
  @include mq('tablet') {
    margin-bottom: 20px;
  }
}

.ctaTitleEmphasis {
  padding-bottom: 4px;
}

.ctaText {
  color: $whiteFaded;
  margin: 0;
}
.ctaActions {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  @include mq('tablet') {
    padding-top: 30px;

  }
}   

.ctaButton {
  @include no-underline;
  margin-top: 5px;
    @include mq('tablet') {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
