@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";
@import "../../styles/Typography.module.scss";

// TODO: move these styles to globals
.ctaSecondary {
  margin-left: 1em;
  @include links-on-dark;
  margin-top: 30px;
  font-size: 21px;
  a {
    font-weight: normal;
  }
  @include mq("tablet") {
    margin-top: 0;
    flex-direction: row;
  }
}
