@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";
@import "../../styles/Typography.module.scss";

// TODO: move these styles to globals
.ctaSecondary {
  @include links-on-dark;
  padding-top: 10px;
  margin-top: 30px;
  font-size: 21px;
  text-align: center;
  @include mq("tablet") {
    padding-top: 18px;
    margin-left: 50px;
    margin-top: 0;
    flex-direction: row;
    text-align: left;
  }
}

.removeDefault {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-weight: normal;
}

.removeDefault,
button:hover {
  color: $linkHover;
  -webkit-transition: top 0.04s ease-out;
}
