@import "../../styles/Variables.module.scss";
@import "../../styles/Typography.module.scss";

.container {
  background-color: $green;
  height: 400px;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.ctaCopy {
  width: 100%;
  margin: 2em;
}

.title {
  @include font-size($title-large);
  font-family: $serif;
  line-height: 80px !important;
}

.copy {
  text-align: justify;
  line-height: 1.5em;
  color: $white;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  color: $black;
  width: 100%;
  text-align: "justify";
  padding: 2em 0;
  margin: 2em;
}

.socialBlock .subTitle {
  font-weight: 600;
  font-size: 24px;
  max-width: 80%;
}

.socialBlock p {
  max-width: 80%;
  color: $grayDark;
  line-height: 1.5em;
  margin: 0.7em;
}
