@import "../../styles/Variables.module.scss";
@import "../../styles/Typography.module.scss";
@import "../../styles/Mixins.module.scss";

.container {
  background-color: $green;
  height: min-content;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include mq("tablet") {
    padding: 2em;
    justify-content: center;
  }
  @include mq("desktop") {
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 400px;
    padding: 2em;
  }
}

.ctaCopy {
  width: 100%;
  margin: 2em;
}

.title {
  @include font-size($title-large);
  font-family: $serif;
  line-height: 80px !important;
}

.copy {
  text-align: justify;
  line-height: 1.5em;
  color: $white;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  color: $black;
  width: 90%;
  padding: 1em 0;

  @include mq("desktop") {
    padding: 2em 0;
    width: 100%;
    text-align: "justify";
  }
}

.socialBlock .subTitle {
  font-weight: 600;
  font-size: 24px;
  max-width: 80%;
}

.socialBlock p {
  max-width: 80%;
  color: $grayDark;
  line-height: 1.5em;
  margin: 0.7em;
}
.socialBlock .socialContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;

  @include mq("tablet") {
    margin: 0 2em;
  }
  @include mq("desktop") {
    padding: 0 3em;
    margin: 0;
  }
}

.socialBlock .socialButtons {
  margin: 0 0.5em;
}
