@import "../../styles/Variables.module.scss";
@import "../../styles/Mixins.module.scss";
@import "../../styles/Typography.module.scss";

.title {
  font-weight: 500;
  font-family: $sans;

  @include font-size($text-large);
}

.modalStyles {
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 380px;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  @include mq("tablet") {
    padding: 2em 1.5em;
    width: 500px;
    height: 500px;
  }
}

.link {
  color: #396abf !important;
  cursor: pointer;
  font-weight: 600 !important;
  font-family: $sans !important;
  margin: 1.4em 0 0;
  @include font-size($text-large);
}

.closeButton {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
}
